<header class="ui site-header">
  <div class="wrapper">
    <div class="ui stackable three column grid">
    <div class="right aligned column">
      <div class="ui center aligned container">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
    </div>
    <div class="column"></div>
    <div class="right aligned column">
      <div class="ui large secondary inverted pointing menu">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.title == page.title %}
              <a class="item active"  href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% else %}
              <a class="item"  title="{{my_page.description}}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}

        <!--<div class="right item">
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
        </div>-->
      </div>
    </div>
  </div>
  
    
  

</header>
